header {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(46, 49, 65, 0.8)
  );
}

a.navbar-brand {
  color: red !important;
  font-weight: bold;
}

header div img {
  max-height: 50vh;
  margin-bottom: 5vh;
}

@media (max-width: 992px) {
  .p-5 {
    padding: 3rem;
    padding-bottom: 1rem;
  }

  div.col-lg-6 {
    text-align: center;
  }
}

a {
  word-break: break-all;
}
